@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@100&display=swap');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');


*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif; 
}
header{
    width: 100%;
    height: 50px;
    background-color: rgb(223, 113, 35);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
#mas-comprado .lienzo{
    width: auto;
    height: 281px;
}

#mas-comprado h3, h4, h5{
    text-align: center;
}
#mas-comprado #botonComprar{
    width: 110px;
    margin-left: 50%;
    transform: translateX(-50%);
}

#mas-comprado .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
}

#mas-comprado article{
    margin: 15px;

}
#mas-comprado img{
    width: 100%;
    max-width: 280px;

}

@media (min-width:1024px){
    #mas-comprado{
        width: auto;
    }
}

.contenedor {
    width: 100%;
    margin-top: -40px;
}
.contenedor-img{
display: flex;
flex-wrap: wrap;
margin-top: 25px;
margin-bottom:-35px;
justify-content: center;
}

.imagen-galeria{
    height: 300px;
    width: 300px;
    display: flex;
}

.lienzo{
display: flex;
height: 50px;
}

h1{
    float: left;
    animation-name: animacion-titulo;
    animation-duration: 3s;
    animation-delay: 4s;
    position: relative;
    animation-iteration-count: infinite;
}

header label{
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

#menu-bar {
    display: none;
}

#menu-bar:checked ~ .menu {
    -webkit-transform: translatex(0%);
            transform: translatex(0%);
}

.menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(51, 51, 51, 0.9);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translatex(-100%);
            transform: translatex(-100%);
} 

.icon-menu{
    margin-right: 7px;
    margin-top: 8px;
}

.menu a {
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.menu a:hover {
    background: rgba(255, 255, 255, 0.3);
}
/*
#menu-bar {
    display: none;
}
.icon-menu{
    margin-right: 7px;
    margin-top: 1px;
}
.menu{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(51,51,51,0.9);
    transition: all 0.5s;
    transform: translatex(-100%);
}
.menu a{
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.menu a:hover{
    background :rgba(255, 255, 255, 0.3) ;
}

#menu-bar:checked ~ .menu{
    transform: translatex(0%);
}*/

@media (min-width:1024px) {
    .menu {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }
    .menu a{
        border: none;
    }
    header label{
        display: none;
    }
}

.Titulo-merceria{
    text-align: center;
}



.grid-layout{
    height: 600px;
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: arriba arriba arriba
    medio medio medio
    abajo abajo abajo    ;
    justify-content: space-around;
    
}

.caja{
    width: 150px;
    height: 150px;
    margin: 15px;
    text-align: center;
    line-height: 150px;
    float: left;
    display: flex;
    flex-wrap: wrap;
}
.img-caja{
    width: 143px;
    height: 143px;
    text-align: center;
    line-height: 150px;
    float: left;
    display: flex;
    flex-wrap: wrap;
}


.caja1{
    grid-template-areas: "arriba";
}
.caja2{
    grid-template-areas: "arriba";
}
.caja3{
    grid-template-areas: "arriba";
}
.caja4{
    grid-template-areas: "medio";
}
.caja5{
    grid-template-areas: "medio";
}
.caja6{
    grid-template-areas: "medio";
}
.caja7{
    grid-template-areas: "abajo";
}
.caja8{
    grid-template-areas: "abajo";
}
.caja9{
    grid-template-areas: "abajo";
}

@keyframes animacion-titulo {
    0%{left: 0;}
    25%{left: 5px;}
    50%{left: 0px;}
    75%{left: 5px;}
    100%{left: 0px;}
}

header .contenedor{
    display: table;
}


section{
    width: 100%;
    margin-bottom: 25px;
}



/*footer*/

footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}