#mas-comprado .lienzo{
    width: auto;
    height: 281px;
}

#mas-comprado h3, h4, h5{
    text-align: center;
}
#mas-comprado .boton-comprar{
    width: 110px;
    margin-left: 50%;
    transform: translateX(-50%);
}

#mas-comprado .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#mas-comprado article{
    margin: 15px;

}
#mas-comprado img{
    width: 100%;
    max-width: 280px;

}

@media (min-width:1024px){
    #mas-comprado{
        width: auto;
    }
}