/*COLORS*/
$colors: (
	$primary: #fff,
	$secondary: #333,
	$background-color_1: rgb(223, 113, 35),
);
/*FONT FAMILY*/
$font-family:(
	$font-family_1: "fontello",
	$font-family_2: 'Lato', sans-serif,
);